
.caja
	background claro
	border 1px solid borde
	border-radius 4px
	box-shadow 0 2px 5px rgba(black,.3)
	display inline-block
	margin 0 .2em
	vertical-align top
	width 90%
	&:first-child
		margin 0 .2em 1em 1em
	&:last-child
		margin 0 1em 1em .2em
	.autor
	.fecha
	.resumen
		margin 1em
		font-size .8em
		white-space normal

.horizontal
	overflow-x auto
	white-space nowrap
	&::-webkit-scrollbar
		display none
