
article
	margin .6em .5em

p
	line-height 1.4
	margin .5em 1em
	&:first-child 
		margin 0 1em 0 1em

.caja
	background claro
	border 1px solid borde
	border-radius 4px
	box-shadow 0 2px 5px rgba(black,.3)
	display inline-block
	margin 0 .2em
	vertical-align top
	width 90%
	&:first-child
		margin 0 .2em 1em 1em
	&:last-child
		margin 0 1em 1em .2em
	.autor
	.fecha
	.resumen
		margin 1em
		font-size .8em
		white-space normal

.horizontal
	margin 0
	overflow-x auto
	padding 0
	width 100%
	white-space nowrap
	&::-webkit-scrollbar
		display none

.puntos
	color grey
	display block
	font-size 1.2em
	text-align center
	&:after
		content "\e60b"
		font-family icono