
article
	&:last-child
		margin-bottom 0
	.materiales_libro
		.libros
			.ejemplar
				.portada
					display block
					float left
					margin 0 1em 0 0 
					width 12%
		.guias
			.ejemplar
				.portada
					display block
					float left
					margin 0 1em 0 0 
					width 12%

header
	height 0
	overflow hidden
	padding-bottom 150px
	padding-top 20px
	position relative
	h1
		text-align center

	img
		display block
		margin  0 auto
		width 80px
	.hero
		height 100%
		left -9em
		margin 0 auto
		position absolute
		top 0
		width auto
		z-index -2

footer
	background azul
	height 10em
	.avatar
		background white
		display inline-block
		float left
		height 10em
		position relative
		width 9.5em
		&:after
			border-bottom solid 10em transparent
			border-left solid 5em white
			border-right solid 10px transparent
			border-top solid 0 green
			content ""
			left 9.5em
			position absolute
			top 0px
		img
			border 2px solid white
			border-radius 50%
			box-shadow 0 0 2px black
			height auto
			left 1em
			position absolute
			top 1em
			width 3em
			z-index 5

		p
			color gris
			font-size 1em
			left 3.2em
			line-height 1.1em;
			position absolute
			text-align left
			top 1.5em
			white-space nowrap
			z-index 4
	.social
		position relative
		// text-shadow 1px 1px 0px rgba(black,.5)
		z-index 3
		a
			color white
			font-family texto
			font-size 1.5em
			font-weight bold
		.twitter
		.github
		.email
			position absolute
			transition all .2s ease
			-webkit-transition all .2s ease
			&:before
				font-family icono
				margin 0 .5em 0 0
				vertical-align bottom

		.twitter
			right .5em
			text-decoration none
			top .7em
			&:before
				content "\e606"
			&:hover
				color #21b2e9
				
		.github
			right .5em
			text-decoration none
			top 2.7em
			&:before
				content "\e609"
			&:hover
				color gris
				text-decoration none

		.email
			right .5em
			text-decoration none
			top 4.7em
			&:before
				content "\e602"
			&:hover
				color #f6ca2d

nav
	cursor pointer
	overflow-x hidden
	position relative
	z-index 5
	&:after
		color white
		content "\e60a"
		font-family icono
		font-size 1.7em
		position absolute
		right .5em
		top .4em
		width 30px

section
	background #e4e1df
	margin -.6em 0
	padding .6em 0 2em 0

#mm0
	background azul
	border .5px solid rgba(azul,.05)
	color white
	cursor pointer
	font-size 1.5em
	height 2em
	left -5px
	position relative
	width 109%

.materiales_video
	.video
		width 45%
		&:nth-child(odd)
			margin 0 1em 0 3.5%
			width 45%
		&:last-child
			margin -1em 1em 0 3.5%

.fixed 
	box-shadow 0 2px 0 rgba(gris,.2)
	left 0px
	position fixed
	right 0px
	top -1px

.sombra
	height 170px
	left 0px
	opacity .8
	position absolute
	top 0px
	width 100%
	z-index -1
	@css {
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
		background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(1%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-8 */
	}














