article
	&:last-child
		margin-bottom 0
	.materiales_libro
		.libros
			.ejemplar
				.portada
					display block
					float left
					margin 0 1em 0 0 
					width 12%
		.guias
			.ejemplar
				.portada
					display block
					float left
					margin 0 1em 0 0 
					width 12%

header
	height 0
	overflow hidden
	padding-bottom 150px
	padding-top 20px
	position relative
	h1
		text-align center

	img
		display block
		margin  0 auto
		width 80px
	.hero
		height 100%
		left -9em
		margin 0 auto
		position absolute
		top 0
		width auto
		z-index -1

footer
	background azul
	height 10em
	.avatar
		background white
		display inline-block
		float left
		height 10em
		position relative
		width 9.5em
		&:after
			border-bottom solid 10em transparent
			border-left solid 5em white
			border-right solid 10px transparent
			border-top solid 0 green
			content ""
			left 9.5em
			position absolute
			top 0px
		img
			border 2px solid white
			border-radius 50%
			box-shadow 0 0 2px black
			height auto
			left 1em
			position absolute
			top 1em
			width 3em
			z-index 5

		p
			color gris
			font-size 1em
			left 4em
			line-height 1.1em;
			position absolute
			text-align left
			top 1.5em
			white-space nowrap
			z-index 4
	.social
		position relative
		// text-shadow 1px 1px 0px rgba(black,.5)
		z-index 3
		a
			color white
			font-family texto
			font-size 1.5em
			font-weight bold
		.twitter
		.github
		.email
			position absolute
			transition all .2s ease
			-webkit-transition all .2s ease
			&:before
				font-family icono
				margin 0 .5em 0 0
				vertical-align bottom

		.twitter
			right .5em
			text-decoration none
			top .7em
			&:before
				content "\e606"
			&:hover
				color #21b2e9
				
		.github
			right .5em
			text-decoration none
			top 2.7em
			&:before
				content "\e609"
			&:hover
				color gris
				text-decoration none

		.email
			right .5em
			text-decoration none
			top 4.7em
			&:before
				content "\e602"
			&:hover
				color #f6ca2d

nav
	cursor pointer
	overflow-x hidden
	position relative
	z-index 5
	&:after
		color white
		content "\e60a"
		font-family icono
		font-size 1.7em
		position absolute
		right .5em
		top .4em
		width 30px

section
	background #e4e1df
	margin -.6em 0
	padding .6em 0 2em 0

#mm0
	background azul
	border .5px solid rgba(azul,.05)
	color white
	cursor pointer
	font-size 1.5em
	height 2em
	left -5px
	position relative
	width 109%

.materiales_video
	.video
		width 45%
		&:nth-child(odd)
			margin 0 1em 0 3.5%
			width 45%
		&:last-child
			margin -1em 1em 0 3.5%

.fixed 
	box-shadow 0 2px 2px rgba(azul,.5)
	left 0px
	position fixed
	right 0px
	top -1px














