
article
	.materiales_libro
		.libros
			border-right 1px solid rgba(borde,.5)
			border-bottom none
			display inline-block
			width 49%
		.guias
			display inline-block
			margin 0 0 0 1em
			width 40%

