// Fuentes =========================================
titulo = lobster, sans-serif
texto = raleway, sans-serif
mayuscula = lucida grande

// Colores =========================================
// fondo = rgb(237,241,243)
fondo = #edf1f3
borde = rgb(198,207,211)
boton = rgba(111,129,148, .5)
hover = rgba(0,0,0,.7)
// azul = #1880fc
azul = #1880fc
// gris = #343434
gris = #515151
claro = #ebf0f4

@font-face {
	font-family: 'icono';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	// .icon-facetime-video:before {
	// 	content: "\e601";
	// }
	// .icon-envelope:before {
	// 	content: "\e602";
	// }
	// .icon-code:before {
	// 	content: "\e604";
	// }
	// .icon-home:before {
	// 	content: "\e605";
	// }
	// .icon-graduation:before {
	// 	content: "\e603";
	// }
	// .icon-book:before {
	// 	content: "\e600";
	// }
	// .icon-twitter:before {
	// 	content: "\e606";
	// }
	// .icon-github:before {
	// 	content: "\e609";
	// }
	// .icon-lines:before {
	// 	content: "\e60a";
	// }
}

@font-face {
	font-family: 'icono2';
	src:url('../fonts/fonts/icomoon.eot');
	src:url('../fonts/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/fonts/icomoon.ttf') format('truetype'),
		url('../fonts/fonts/icomoon.woff') format('woff'),
		url('../fonts/fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	// .icon-arrow-up:before {
	// 	content: "\e610";
	// }
	// .icon-uniE613:before {
	// 	content: "\e613";
	// }
	// .icon-in:before {
	// 	content: "\e620";
	// }
}
	
article
	background white
	// border 1px solid rgba(borde,.8)
	border-radius 5px
	// box-shadow: 0 0 6px rgba(0,0,0,0.2);
	box-shadow: 0 2px 2px rgba(0,0,0,0.3);
	margin 1em
	padding 0 0 2em 0
	&:last-child
		margin-bottom 4.5em
	.encabezado
		margin 0 0 1em 0
		.iniciando
			&:before
				color claro
				content "\e605"
				font-family icono
				font-size .9em
				font-weight none
				position absolute
				right .6em
				top .3em
		.libro
			&:before
				color claro
				content "\e600"
				font-family icono
				font-size .9em
				font-weight none
				position absolute
				right .6em
				top .3em
		.numero
			background azul
			color fondo
			float left
			font-family mayuscula
			font-size .5em
			font-weight bold
			height 1.7em 
			line-height 1.5
			margin 1em 1.5em 0 0
			padding .15em 0 0 0 
			position relative
			text-align center
			width 2em 
			z-index 0
			&:after
				border-top solid 0 transparent
				border-left solid .7em azul
				border-bottom solid 1.8em transparent
				border-right solid 0 transparent
				content ""
				left 2em
				position absolute
				top 0px
		.nombre
			display block
			line-height 1em
			margin .4em .5em 0 2em
			text-align left
		.video
			&:before
				color claro
				content "\e601"
				font-family icono
				font-size .9em
				font-weight none
				position absolute
				right .6em
				top .3em
	.materiales
		// background claro
		// border-bottom 1px solid borde
		// border-top 1px solid borde
		// margin 1em 0 3em 0 
		// padding 3.5em 3.5em 2em 3.5em
		.video
		.libro
			p
				color azul
				font-family mayuscula
				font-size 1.1em
				letter-spacing -2px
		.video
			.contenedor
				height 0
				overflow hidden
				padding-bottom 56.25%
				padding-top 30px
				position relative
				iframe
					height  100%
					left 0
					position absolute
					top 0
					width 100%
		.libro
			display inline-block
			// margin 0
			// width 45%
			// &:last-child
			// 	margin 0
			// &:nth-child(even)
			// 	margin 0
			img
				display block
				height auto
				width 7em

// article#video
// 	background #dbe6ea
// 	background-image url(../img/paisaje1.jpg)
// 	background-repeat no-repeat
// 	background-position bottom left
// 	background-size 100% auto 

body 
	background fondo
	color gris
	font-family texto
	font-size 15px

h1
	font-size 3em;
	font-family titulo
	font-weight normal
	margin 0 
	text-align center
	small
		border-top 1px solid borde
		color gris
		display block
		font-size .39em;
		line-height -5em
		margin .1em auto 0 auto 
		max-width 17em

h2
	display inline-block
	font-family mayuscula
	font-weight normal
	font-size 2em;
	letter-spacing -3px
	margin .5em 0 .5em 0

h3
	color azul
	font-family mayuscula
	font-weight normal
	letter-spacing -2px

p
	line-height 1.4
	margin .5em 2em
	&:first-child 
		margin 0 2em 0 2em

.arriba
	bottom 1em
	color white
	left 1.2em
	opacity .95
	position fixed
	-webkit-transition all .1s ease
	transition all .1s ease
	z-index 10
	a 
		background #d9d9d9
		border-radius 50%
		color: claro;
		display block
		height 3em
		position relative
		text-decoration none
		transition all .2s ease
		-webkit-transition all .2s ease
		width 3em
		&:after
			content "\e610"
			font-family icono2
			font-size 1.6em
			text-align center
			position absolute
			top .35em
			left .45em
		&:hover
			background gris

.caja
	background claro
	border-top 1px solid borde
	border-bottom 1px solid borde
	margin 0 0 1em 0
	padding 0 0 .7em 0
	.resumen
		padding 1em
	.autor
		color grey
		margin-bottom 0
		padding 0 0 0 1em
	.fecha
		color grey
		margin 0 1em
		padding 0 0 0 1em
	h3
		font-size 1.5em
		margin 1em .5em
		text-align center

// Break points

@media screen and (min-width: 992px) 
	@import "bp3.styl"


@media screen and (max-width: 992px) 
	@import "bp2.styl"


@media screen and (max-width: 630px) 
	@import "bp1.styl"
