// Fuentes =========================================
titulo = lobster, sans-serif
texto = raleway, sans-serif
mayuscula = lucida grande

// Colores =========================================
fondo = rgb(237,241,243)
borde = rgb(198,207,211)
hover = rgba(0,0,0,.7)
azul = #3b84bf
gris = #343434
claro = #ebf0f4

@font-face {
	font-family: 'icono';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

// Break points

@media screen and (max-width: 1000px) 
	@import "bp2.styl"


@media screen and (max-width: 480px) 
	@import "bp1.styl"
