// Fuentes =========================================
titulo = lobster, sans-serif
texto = raleway, sans-serif
mayuscula = lucida grande

// Colores =========================================
fondo = rgb(237,241,243)
borde = rgb(198,207,211)
boton = rgba(111,129,148, .5)
hover = rgba(0,0,0,.7)
azul = #3b84bf
gris = #343434
claro = #ebf0f4

@font-face {
	font-family: 'icono';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
			
body 
	background fondo
	color gris
	font-family texto
	font-size 15px

h1
	font-size 3em;
	font-family titulo
	font-weight normal
	margin 0 
	text-align center
	small
		border-top 1px solid borde
		color gris
		display block
		font-size .39em;
		line-height -5em
		margin .1em auto 0 auto 
		max-width 17em

h2
	display inline-block
	font-family mayuscula
	font-weight normal
	font-size 2em;
	letter-spacing -3px
	margin .5em 0 .5em 0

h3
	color azul
	font-family mayuscula
	font-weight normal
	letter-spacing -2px

p
	line-height 1.4
	margin .5em 2em
	&:first-child 
		margin 0 2em 0 2em

// Break points

@media screen and (min-width: 992px) 
	@import "bp3.styl"


@media screen and (max-width: 992px) 
	@import "bp2.styl"


@media screen and (max-width: 630px) 
	@import "bp1.styl"
