// Break point 1

figure .terminal {
	margin: 20px 10px 150px 10px;
}
	figure .terminal .nota {
		bottom: -135px;
		left: 10px;
	}	
		figure .terminal .nota .color_tipear {
		width: 100%;
	}	
	figure .terminal .nota .color_maquina {
		width: 100%;
	}
	figure .terminal .nota .color_copiar {
		width: 100%;
	}
section#home article {
	background: white;
	padding: 0 10px 10px 10px;
}
	section#home article h1 {
		text-align: center;
		padding: 45px 0 10px 0;
	}