// Break point 1

header {
	text-align: center;
	padding: 10px 0;
	background: rgba(0,0,0,.05);
}
figure {
	width: 30%;
	float: left;
}
#header h1 {
	font-family: @titulofont;
	font-size: 3.3em;
	letter-spacing: -5px;
	line-height: .8;
}
#header h2 {
	font-family: @titulofont;
	font-size: 1.2em;
	letter-spacing: -2px;
}
#logo img {
	width: 53px;
	height: 53px;
	position: relative;
	left: 0px;
}