// Break point 1

figure .terminal {
	margin: 35px 10px 70px 10px;
}
	figure .terminal .nota {
		bottom: -50px;
		left: 10px;
	}	
section#home article {
	background: white;
	padding: 0 10px 10px 10px;
}
	section#home article h1 {
		text-align: center;
		padding: 45px 0 10px 0;
	}