// Break point 2

body {
	background: red;
}
#contenedor {
	margin: 0 auto;
	max-width: 1130px;
}
#home {
	background: white;
	border-radius: 4px;
	display: block;
	float: left;
	width: 825px;
}
.row .col-md-4 #menu ul li {
	color: @menutexto;
}
.row .col-md-4 #menu li#titulo {
	color: @menutitulo;
	font-weight: bold;
	margin: 12px 0 0 0;
}
.row .col-md-4 #menu li#titulo li{
	font-weight: normal;
	margin: 0 0 0 30px;
}