// Break point 2

figure#logo {
	text-align: center;
}
figure#logo h1 {
	font-size: 3em;
}
figure#logo img {
	display: block;
	margin: 10px auto 0 auto;
	height: auto;
	padding: 10px 0 3px 0;
	width: 80px;	
}figure .terminal {
	background: @ventanaterminal;
	border-radius: 0 0 4px 4px;
	-webkit-box-shadow: 0px 1px 1px rgba(111,129,148,.5);
	margin: 20px 35px 70px 35px;
	position: relative;
}
	figure .terminal #maquina pre {
		color: @textoterminal;
		line-height: 1.5;
		padding: 35px 15px 0 20px;
	}
		figure .terminal #maquina pre .tipear {
			color: @textoterminaltipear;
		}
		figure .terminal #maquina pre .copiar {
			background: @ventanaterminalcopiar;
			border-radius: 10px;
			padding: 0 5px;
			color: @textoterminal;
		}
	figure .terminal .barra {
		background: lightgrey;
		border-radius: 6px 6px 0 0;
		position: absolute;
		width: 100%;
		top: -10px;
	}
		figure .terminal .barra #barra {
			color: grey;
			font-size: .8em;
			line-height: 2;
			text-align: center;
		}
	figure .terminal .nota {
		position: relative;
		bottom: -55px;
		color: grey;
		left: 20px;
		font-size: .9em;
	}	
		figure .terminal .nota .color_tipear {
			display: inline-block;
			width: 30%;
		}	
			figure .terminal .nota .color_tipear span {
				background: @ventanaterminal;
				border-radius: 15px;
				color: @textoterminaltipear;
				height: 20px;
				margin-right: 5px;
				padding: 5px 10px 5px 10px;
				width: auto;
			}
		figure .terminal .nota .color_maquina {
			display: inline-block;
			width: 30%;
		}
			figure .terminal .nota .color_maquina span {
				background: @ventanaterminal;
				border-radius: 15px;
				color: @textoterminal;
				height: 20px;
				margin-right: 5px;
				padding: 5px 10px 5px 10px;
				width: auto;
			}
		figure .terminal .nota .color_copiar {
			display: inline-block;
			width: 30%;
		}
			figure .terminal .nota .color_copiar span {
				background: @ventanaterminalcopiar;
				border-radius: 15px;
				color: @textoterminal;
				height: 20px;
				margin-right: 5px;
				padding: 5px 10px 5px 10px;
				width: auto;
			}
nav.menu {
	padding: 20px 0 0 0;
	overflow: hidden;
	z-index: 5;
}
section#home article {
	background: white;
	border-bottom: 5px solid @colorprincipal;
	padding: 0 20px 10px 20px;
}
	section#home article h1 {
		color: @tituloarticle;
		font-family: @tituloarticulo;
		font-size: 2.5em;
		letter-spacing: -4px;
		text-align: center;
		padding: 52px 0 25px 0;
	}
	section#home article h2 {
		border-bottom: 1px solid @colorborde;
		color: @subtituloarticle;
		font-family: @mainfont;
		font-size: 1.4em;
		margin-bottom: 5px;
		padding: 30px 0 10px 0;
	}
		section#home article h2 span {
			color: @subtituloarticle2;
			font-weight: bold;
		}
	section#home article p {
		color: @colorprincipal;
		font-size: .9em;
		margin-bottom: 15px;
		line-height: 1.6;
	} 
	section#home article ul {
		padding: 10px 0 20px 20px;
		line-height: 2.2em;
		font-size: .9em;
	}
		section#home article ul li {
			list-style-type: circle;
		}
#mm0 {
	background: @colorprincipal;
	border: 1px solid @colorprincipal;
	color: @colorfondo;
	font-size: 18px;
	height: 38px;
	left: -4px;
	opacity: .95;
	position: relative;
	width: 107%;
}
.boton_google {
	display: inline-block;
	position: absolute;
	left: 5%;
	top: 35%;
}
.boton_twitter {
	display: inline-block;
	position: absolute;
	left: 20%;
	top: 35%;
}
.comentario{
	margin: 15px 0 0 0;
}
.fixed {
    position: fixed;
    top: -20px;
    left: 0px;
   	width: 109%;
}
.social {
	background: rgba(237,241,243,.5);
	border-top: 1px solid @colorborde;
	margin-top: 30px;
	padding: 35px;
	position: relative;
}