// Vista escritorio

header#header {
	// border:2px solid blue;	
	width: 325px;
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	margin: 10px;
}
	header#header div#titulo_principal {
		// border: 2px solid green;
		text-align: center;
		margin: 0 auto @margenE auto;
	}
		header#header div#titulo_principal h1 {
			font-size: 3.6em;
		}
		header#header div#titulo_principal h2 {
			border-top: 1px solid @colorborde;
			font-size: 1.2em;
			line-height: 25px;
			margin-top: 5px;
		}
	header#header nav#menu {
		// border:2px solid orange;
		margin: 25px 7px 25px 7px ;
		overflow-y: scroll;
		height: 60%;
		border-radius: 5px;

	}
	header#header nav#menu a {
		text-decoration: none;
		position: relative;
	}
	header#header nav#menu a .icon-uniE613 {
		position: absolute;
		right: 5px;
		top: 28%;
	}
	header#header nav#menu a .icon-uniE613:before {
		content: "\e613";	
	}
	header#header nav#menu a:hover {
		text-decoration: none;
	}
	header#header nav#menu a h3 {
		background: #0d65f0;
		border-radius: 5px;
		padding: 5px 0 5px 10px;
		margin: 20px 0 5px 0;
		color: @colorfondo;
		position: relative;
	}
	header#header nav#menu a h3 .icon-number, .icon-number2, .icon-number3 {
		position: absolute;
		right: 5px;
		top: 3px;
		font-size: 1.2em;
		font-weight: bold;
	}
	header#header nav#menu a h3 .icon-number:before {
		content: "\e608";
	}
	header#header nav#menu a h3 .icon-number2:before {
		content: "\e609";
	}
	header#header nav#menu a h3 .icon-number3:before {
		content: "\e60a";
	}
	header#header nav#menu h3:hover {
		background: @colorhover;
	}
	header#header nav#menu ul {
		border: 1px solid rgba(111,129,148, .5);
		border-radius: 5px;
	}
		header#header nav#menu ul a {
			text-decoration: none;
			color: #0d65f0;
			display: block;
			padding: 4px 30px 4px 10px;
			border-bottom: 1px solid rgba(111,129,148, .5);
		}
		header#header nav#menu ul a:hover {
			color: @colorhover;
		}
		header#header nav#menu ul a:last-child {
			border-bottom: none;
		}
	header#header figure#logo {
		// border:2px solid green;
		text-align: center;
	}
		header#header figure#logo img {
			width: 120px;
			height: auto;
			margin:  20px auto 10px auto;
		}
section#wrapper {
	// border:2px solid red;
	overflow: hidden;
}
section#contenido {
	// border:2px solid yellow;
	max-width: 1000px;
	margin-left: 335px;
	display: inline-block;
}
	section#contenido article {
		box-shadow: 0 0 6px rgba(0,0,0,0.2);		
		background: white;
		border-radius: 5px;
		margin: @margenE;
		padding: @margenI;
	}
	section#contenido article header.titulo {
		// border:2px solid blue;
	}
		section#contenido article header.titulo h1 {
		// border:2px solid blue;
		color: @tituloarticle;
		font-family: @tituloarticulo;
		font-size: 2.5em;
		letter-spacing: -4px;
		text-align: center;
		padding: 25px 0 35px 0;
	}
	section#contenido article div.contenido {
		// border:2px solid pink;
		// padding: @margenI;
	}
	section#contenido article div.contenido p {
		// border:2px solid pink;
		margin: 0 10px 15px 10px;
		font-size: .9em;
	}
	section#contenido article footer.social {
		// border:2px solid orange;
	}
footer#footer {
	// border: 2px solid;
	display: inline-block;
	height: 200px;
	margin-left: 335px;
	max-width: 1000px;
	width: 100%;
	position: relative;
}
	footer#footer #avatar {
		// border: 2px solid;
		width: 33%;
	}
		footer#footer #avatar figure img{
			border-radius: 70px;
			border: 3px solid @colorprincipal;
			height: auto;
			width: 70px;
			position: absolute;
			top: 60px;
			left: 270px;
		}
		footer#footer #avatar a#nombre {
			color: @colorprincipal;											
			font-size: 1.2em;
			font-weight: bold;
			position: absolute;
			top: 70px;
			left: 370px;
		}
		footer#footer #avatar a#twitter {
			color: @colorprincipal;											
			font-size: 1.2em;
			position: absolute;
			top: 90px;
			left: 370px;
		}
		footer#footer #logo_giratorio {
			position: absolute;
			top: 60px;
			left: 270px;
		}
	footer#footer #emial {
		// border: 2px solid;
		width: 33%;
		position: absolute;
		top: 60px;
		left: 70px;
	} 
		footer#footer #emial .icon-mail {
		background: #0d65f0;
		border-radius: 40px;
		height: 70px;
		width: 70px;
		color: @colorfondo;
		text-align: center;
		line-height: 1.93;
		font-size: 2.3em;
		}
		footer#footer #emial .icon-mail:before {
			content: "\e602";
			font-family: 'icomoon';
		}
		footer#footer #emial .icon-mail:hover {
			background: @colorhover;
			-webkit-transition: all .2s ease;
			transition: all .2s ease;
		}
	footer#footer #github {
		// border: 2px solid;
		width: 33%;
		position: absolute;
		top: 60px;
		left: 170px;
	} 
		footer#footer #github .icon-github {
			background: @colorprincipal;
			border-radius: 40px;
			height: 70px;
			width: 70px;
			color: @colorfondo;
			text-align: center;
			line-height: 1.75;
			font-size: 2.5em;
		}
		footer#footer #github .icon-github:before {
			content: "\e601";
			font-family: 'icomoon';
		}
		footer#footer #github .icon-github:hover {
			background: @colorhover;
			-webkit-transition: all .2s ease;
			transition: all .2s ease;
		}


