// Vista escritorio

header#header {
	// border:2px solid blue;	
	width: 325px;
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	margin: 10px;
	}
	header#header div#titulo_principal {
		// border: 2px solid green;
		text-align: center;
		margin: 0 auto @inI auto;
	}
		header#header div#titulo_principal h1 {
			font-size: 3.6em;
		}
		header#header div#titulo_principal h2 {
			border-top: 1px solid @colorborde;
			font-size: 1.2em;
			line-height: 25px;
			margin-top: 5px;
		}

	header#header figure#logo {
		// border:2px solid green;
		text-align: center;
	}
		header#header figure#logo img {
			width: 120px;
			height: auto;
			margin:  20px auto 10px auto;
		}
	header#header nav#menu {
		margin: 25px 7px 25px 7px ;
		overflow-y: scroll;
		height: 60%;
	}
		header#header nav#menu ul {
			border: 1px solid rgba(111,129,148, .5);
			border-radius: 5px;
			}
			header#header nav#menu ul li {
				position: relative;
				border-bottom: 1px solid rgba(111,129,148, .5);
				}
			header#header nav#menu ul li:hover {
				background: rgba(0,0,0,.03);
				}
				header#header nav#menu ul li a {
						color: @azul;
						display: block;
						padding: 4px 40px 4px 10px;
						text-decoration: none;
				}
				header#header nav#menu ul li a:hover {
					color: @colorhover;
					}
					header#header nav#menu ul li a span {
						position: absolute;
						right: 5px;
						top: 7px;
					}
					header#header nav#menu ul li a span.icon-rocket {
						top: 8px;
						right: 6px;
					}
				header#header nav#menu ul#comandos {
					margin-top: @I;
				}
			header#header nav#menu ul li:last-child {
				border-bottom: none;
				}
		header#header nav#menu ul.capitulo {
			background: @azul;
			border-radius: 5px;
			display: block;
			position: relative;
			margin: 20px 0 5px 0;
			}
		header#header nav#menu ul.capitulo:hover {
			background: @colorhover;
			}
			header#header nav#menu ul.capitulo a {
				color: @colorfondo;
				padding: 3px 10px 3px 10px;
				text-decoration: none;
				}
			header#header nav#menu ul.capitulo a:hover {
				color: @colorfondo;
				}
				header#header nav#menu ul.capitulo a span {
					position: absolute;
					right: 5px;
					top: 5px;
					}
section#wrapper {
	// border:2px solid red;
	overflow: hidden;
}
section#contenido {
	// border:2px solid yellow;
	max-width: 1000px;
	margin-left: 335px;
	display: inline-block;
	}
	section#contenido article.main {
		box-shadow: 0 0 6px rgba(0,0,0,0.2);		
		background: white;
		border-radius: 5px;
		margin: @inI;
		padding-bottom: 10px;
	}
		section#contenido article header#intra_article {
			padding: @I 0;
		}
			section#contenido article header#intra_article div.capitulo {
				background: @colorprincipal;
				border-radius: 0 50px 50px 0;
				color: @colorfondo;
				display: inline-block;
				float: left;
				font-size: .9em;
				height: 40px;
				position: relative;
				vertical-align: top;
				width: 80px;
			}
				section#contenido article header#intra_article div.capitulo span {
					position: absolute;
					font-size: 2em;
					top: 5px;
					right: 5px;
				}
				section#contenido article header#intra_article div.capitulo span.icon-rocket {
					right: 12px;
					top: 8px;
				}
				section#contenido article header#intra_article div.capitulo span.icon-books {
					right: 12px;
				}
				section#contenido article header#intra_article h3 {
					display: inline-block;
					vertical-align: top;
					color: @tituloarticle;
					font-family: @tituloarticulo;
					font-size: 2.5em;
					letter-spacing: -4px;
					text-align: left;
					padding: 0 @inI;

				}
				section#contenido article header#intra_article p {
					margin: 10px @I @I @I;
				}
		section#contenido article p {
			color: @colorprincipal;
			font-size: .9em;
			line-height: 1.6;
		}
		section#contenido article section#tema {
			
		}
			section#contenido article section#tema article header#tema {

			}
				section#contenido article section#tema article header#tema h4 {
					font-size: 1.5em;
					font-weight: normal;
					// border-bottom: 1px solid @colorborde;
					padding-bottom: 5px;
					margin: 0 @I 0 @I;
				}
					section#contenido article section#tema article header#tema h4 span {
						font-weight: bold;
					}
		section#contenido article section#tema figure#terminal {
			background: #3b84bf;
			padding: 20px 0;
			border-bottom: 1px solid @colorprincipal;
			border-top: 1px solid @colorprincipal;
			margin-bottom: @I;
		}
			section#contenido article section#tema figure div.terminal {
				background: @ventanaterminal;
				border-radius: 0 0 4px 4px;
				-webkit-box-shadow: 0px 5px 15px rgba(0,0,0,.5);
				margin: 30px 25px;
				position: relative;
				}
				section#contenido article section#tema figure div.terminal div#maquina pre {
					color: @textoterminal;
					line-height: 1.5;
					padding: 30px 15px 20px 20px;
					font-size: .8em;
					}
					section#contenido article section#tema figure div.terminal div#maquina pre span.tipear {
						color: @textoterminaltipear;
					}
					section#contenido article section#tema figure div.terminal div#maquina pre span.copiar {
						background: @ventanaterminalcopiar;
						border-radius: 10px;
						padding: 2px 5px;
						color: @textoterminal;
					}
				section#contenido article section#tema figure div.terminal div.barra {
					background: lightgrey;
					border-radius: 6px 6px 0 0;
					position: absolute;
					width: 100%;
					top: -10px;
					}
					section#contenido article section#tema figure div.terminal div.barra pre#barra {
						color: grey;
						font-size: .8em;
						line-height: 2;
						text-align: center;
						}
				section#contenido article section#tema figure div.terminal div.nota {
					position: relative;
					bottom: -55px;
					color: grey;
					left: 20px;
					font-size: .9em;
					}
					section#contenido article section#tema figure div.terminal div.nota .color_tipear {
						display: inline-block;
						width: 30%;
						}
						section#contenido article section#tema figure div.terminal div.nota .color_tipear span {
						background: rgba(0,0,0,.5);
						border-radius: 15px;
						color: @textoterminaltipear;
						height: 20px;
						margin-right: 5px;
						padding: 5px 10px 5px 10px;
						width: auto;
						}
					section#contenido article section#tema figure div.terminal div.nota .color_maquina {
						display: inline-block;
						width: 30%;
						}
						section#contenido article section#tema figure div.terminal div.nota .color_maquina span {
						background: rgba(0,0,0,.5);
						border-radius: 15px;
						color: @textoterminal;
						height: 20px;
						margin-right: 5px;
						padding: 5px 10px 5px 10px;
						width: auto;
						}
					section#contenido article section#tema figure div.terminal div.nota .color_copiar {
						display: inline-block;
						width: 30%;
						}
						section#contenido article section#tema figure div.terminal div.nota .color_copiar {
						display: inline-block;
						width: 30%;
						}
							section#contenido article section#tema figure div.terminal div.nota .color_copiar span {
								background: rgba(0,0,0,.7);
								border-radius: 15px;
								color: @textoterminal;
								height: 20px;
								margin-right: 5px;
								padding: 5px 10px 5px 10px;
								width: auto;
								}
		section#contenido article section#tema figure div.imagen {
			background: @colorfigure;			
			width: 100%;
			height: auto;
			padding: 50px 0;
			border-top: 1px solid #c6ced2;
			border-bottom: 1px solid #c6ced2;
			}
			section#contenido article section#tema figure div.imagen img {
				display: block;
				margin: 0 auto;
				width: 80%;
				height: auto;
				box-shadow: 0 20px 50px;
			} 
		section#contenido article section#tema p {
			margin: 0 @I @I @I;
		}
		section#contenido article section#tema .video img{
			position: relative;
			width: 100%;
			height: auto;
			opacity: .6;
			z-index: 1;
		}
footer#footer {
	// border: 2px solid;
	display: inline-block;
	height: 200px;
	margin-left: 335px;
	max-width: 1000px;
	width: 100%;
	position: relative;
	}
	footer#footer #avatar {
		// border: 2px solid;
		width: 33%;
	}
		footer#footer #avatar figure img{
			border-radius: 70px;
			border: 3px solid @colorprincipal;
			height: auto;
			width: 70px;
			position: absolute;
			top: 60px;
			left: 270px;
		}
		footer#footer #avatar a#nombre {
			color: @colorprincipal;											
			font-size: 1.2em;
			font-weight: bold;
			position: absolute;
			top: 70px;
			left: 370px;
		}
		footer#footer #avatar a#twitter {
			color: @colorprincipal;											
			font-size: 1.2em;
			position: absolute;
			top: 90px;
			left: 370px;
		}
		footer#footer #logo_giratorio {
			position: absolute;
			top: 60px;
			left: 270px;
		}
	footer#footer #emial {
		// border: 2px solid;
		width: 33%;
		position: absolute;
		top: 60px;
		left: 70px;
	} 
		footer#footer #emial .icon-mail {
		background: @azul;
		border-radius: 40px;
		height: 70px;
		width: 70px;
		color: @colorfondo;
		text-align: center;
		line-height: 1.93;
		font-size: 2.3em;
		}
		footer#footer #emial .icon-mail:before {
			content: "\e602";
			font-family: 'icomoon';
		}
		footer#footer #emial .icon-mail:hover {
			background: @colorhover;
			-webkit-transition: all .2s ease;
			transition: all .2s ease;
		}
	footer#footer #github {
		// border: 2px solid;
		width: 33%;
		position: absolute;
		top: 60px;
		left: 170px;
	} 
		footer#footer #github .icon-github {
			background: @colorprincipal;
			border-radius: 40px;
			height: 70px;
			width: 70px;
			color: @colorfondo;
			text-align: center;
			line-height: 1.75;
			font-size: 2.5em;
		}
		footer#footer #github .icon-github:before {
			content: "\e601";
			font-family: 'icomoon';
		}
		footer#footer #github .icon-github:hover {
			background: @colorhover;
			-webkit-transition: all .2s ease;
			transition: all .2s ease;
		}

// Estilo botón descarga resumen comandos
#footer_resumen {
	padding: 20px 0 70px 0;
	position: relative;
		}
		#linea {
			width: 70%;
			border-bottom: 1px solid @colorborde;
			}
// Estilo video
#material_video article {

	position: relative;
	margin: 0 0 280px 0;
	}
	#material_video article header {
		background: @azul;
		border-top: 1px solid rgba(0,0,0,.4);
		height: 300px;
		}
			#material_video article header h5 {
				color: @colorfondo;
				font-size: 2em;
				position: absolute;
				top: 30px;
				left: 15%;
				text-align: center;
				width: 70%;
				}
		#material_video article p {
			position: absolute;
			top: 490px;
			left: 12%;
			text-align: center;
			width: 70%;
		}
		#material_video article #video {
			border: 10px solid @colorfigure;
			border-radius: 5px;
			position: absolute;
			top: 130px;
			left: 20%;
			}
#material_video section {
	background: @colorfigure;
	}
#material_texto article {
	// border:1px solid;
	height: 165px;
}
#material_texto section {
		// border:1px solid;
		margin: 0 @I;
		padding: @I 0 5px 0;
		border-bottom: 1px solid @colorborde;
		}
	#material_texto #contenido {
		display: inline-block;
		width: 100%;	
		// border:1px solid;
			.izq {
				display: block;
				// border:1px solid;
				width: 30%;
				float: left;
			}	
			.derecha {
				// border:1px solid;
				display: block;
				margin: 0 0 0 30%;
				}
					span#comamdo {
					font-family: @resumen;
					color: @azul;
					display: block;
					padding: 0;
					}
					h5 {
					// border:1px solid;
					font-size: 1.5em;
					font-weight: bold;
					display: block;
					max-width: 60%;
					float: left;
					padding: 0 10px 2px 0;
						a:hover {
							text-decoration: none;
							color: @colorhover;
						}
					}
					.bandera {
					// border:1px solid;
					display: block;
					min-width: 38%;
					float: left;
						img {
							height: 15px;
							width: 15px;
							border-radius: 30px;
							-webkit-filter: grayscale(0.15);
							display: block;
							margin: 7px 0 0 10px;
						}
					}
					span {
					// border:1px solid;
					display: block;
					width: 100%;
					float: left;
					font-size: .8em;
					line-height: 1.4;
					padding: 5px @I 2px 0;
					}
		}
		#material_texto #contenido img {
			width: 120px;
			height: auto;
			display: block;
			margin: 0 auto;
		}

// Estilo resumen comandos
#seccion_comando {
	font-family: @resumen;
	margin: 0 @I 40px @I;
	}
	#seccion_comando article {
		padding: 2px @I;
		}
	#seccion_comando article:nth-child(odd) {
		background: @colorfondo;
		margin: 10px 0;
		// border-top: 1px solid @colorborde;
		}
	#seccion_comando article pre {
		font-size: .8em;
		line-height: 1.5;
		color: grey;
	}
	#seccion_comando span {
		text-transform: uppercase;
		font-size: .75em;
		color: @azul;
		}

.boton {

	}
	.boton a {
		background: @azul;
		border-radius: 5px;
		color: white;
		display: block;
		letter-spacing: -1px;
		margin: 0 auto;
		padding: 10px;
		width: 250px;
		}
			.boton a:hover {
				text-decoration: none;
				background: @colorhover;
			}

