// Layout

// Avatar giratorio
@import "avatar.less";


body {
	background: @colorfondo;
	color: @colorprincipal;
	font-family: @mainfont;
	font-size: 16px;
}
header#header h1, h2 {
	font-family: @tituloprincipal;
}
// Selecciçión
::selection {
	background: yellow;
	color: black;
}
// Break points
@media screen and (min-width: 992px) {
	@import "bp3.less";
}

@media screen and (max-width: 992px) {
	@import "bp2.less";
}

@media screen and (max-width: 480px) {
	@import "bp1.less";
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


.clearfix {display: inline-block;}


/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
/* @end */