// Fuentes =========================================
titulo = lobster, sans-serif
cabecera = lato, sans-serif
texto = raleway, sans-serif
mayuscula = lucida grande

// Colores =========================================
claro = rgb(237,241,243)
borde = rgb(198,207,211)
hover = rgba(0,0,0,.7)
azul = #3b84bf
gris = #343434

body 
	background claro
	color gris
	font-family texto
article
	background white
header
	img
		width 80px
		display block
		margin 1em auto 0 auto

h1
	font-size 4em;
	font-family titulo
	margin 0
	text-align center

h2 
	border-top 1px solid borde 
	font-size 1.3em;
	font-family titulo
	margin 0 .5em 1em .5em
	text-align center
h3
	font-size 3em;
	font-family cabecera
	letter-spacing -3px
	margin 0
	text-align center


#mm0
	background azul
	border 1px solid claro
	color white
	font-size 1.5em
	height 2em
	position relative
	left -5px
	width 107%




