html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
a {
  text-decoration: none;
}
body {
  background: #edf1f3;
  color: #6f8194;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
header#header h1,
h2 {
  font-family: 'lobster', cursive;
}
::selection {
  background: orange;
  color: white;
}
@media screen and (min-width: 992px) {
  header#header {
    border: 2px solid blue;
    width: 310px;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
  }
  header#header nav#menu {
    border: 2px solid orange;
  }
  header#header figure#logo {
    border: 2px solid green;
  }
  section#wrapper {
    border: 2px solid red;
  }
  section#contenido {
    border: 2px solid yellow;
    float: left;
    max-width: 1000px;
    margin-left: 310px;
    display: inline-block;
  }
  section#contenido article {
    border: 2px solid brown;
    background: white;
    border-radius: 7px;
    border: 1px solid #c6cfd3;
    margin: 15px;
    padding: 20px;
  }
  section#contenido article header.titulo {
    border: 2px solid blue;
  }
  section#contenido article div.contenido {
    border: 2px solid pink;
  }
  section#contenido article footer.social {
    border: 2px solid orange;
  }
  footer#footer {
    border: 2px solid purple;
    bottom: 0px;
    margin-left: 310px;
    position: relative;
    width: 100%;
    max-width: 1000px;
    height: 250px;
    display: inline-block;
  }
  footer#footer #avatar figure img {
    width: 80px;
    height: auto;
    border-radius: 80px;
    border: 3px solid white;
  }
}
@media screen and (max-width: 992px) {
  
}
@media screen and (max-width: 480px) {
  
}
