@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot');
  src: url('fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf') format('truetype'), url('fonts/icomoon.woff') format('woff'), url('fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class*="icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-github:before {
  content: "\e601";
}
.icon-link:before {
  content: "\e604";
}
.icon-twitter:before {
  content: "\e606";
}
.icon-books:before {
  content: "\e607";
}
.icon-bubble:before {
  content: "\e614";
}
.icon-play:before {
  content: "\e600";
}
.icon-book:before {
  content: "\e60b";
}
.icon-arrow-up:before {
  content: "\e610";
}
.icon-mail:before {
  content: "\e602";
}
.icon-graduation:before {
  content: "\e611";
}
.icon-network:before {
  content: "\e612";
}
.icon-uniE613:before {
  content: "\e613";
}
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
a {
  text-decoration: none;
}
.avatar {
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.fContainer {
  perspective: 1000;
  position: relative;
  width: 70px;
  height: 70px;
  z-index: 1;
}
.fContainer .fPanel {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all .6s linear;
  -moz-transform-style: preserve-3d;
  -moz-transition: all .6s linear;
  -o-transform-style: preserve-3d;
  -o-transition: all .6s linear;
  transform-style: preserve-3d;
  transition: all .6s linear;
}
.fContainer:hover .fPanel {
  -webkit-transform: rotateY(180deg);
  -webkit-box-sizing: border-box;
  -moz-transform: rotateY(180deg);
  -moz-box-sizing: border-box;
  -o-transform: rotateY(180deg);
  -o-box-sizing: border-box;
  transform: rotateY(180deg);
}
.fContainer .back {
  display: block;
  font-size: 2.2em;
  -webkit-transform: rotateY(180deg);
  -webkit-box-sizing: border-box;
  -moz-transform: rotateY(180deg);
  -moz-box-sizing: border-box;
  -o-transform: rotateY(180deg);
  -o-box-sizing: border-box;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #6f8194;
}
.back .icon-twitter {
  color: #edf1f3;
  line-height: 1.5;
}
body {
  background: #edf1f3;
  color: #6f8194;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
header#header h1,
h2 {
  font-family: 'lobster', cursive;
}
::selection {
  background: orange;
  color: white;
}
@media screen and (min-width: 992px) {
  header#header {
    width: 325px;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    margin: 10px;
  }
  header#header div#titulo_principal {
    text-align: center;
    margin: 0 auto 15px auto;
  }
  header#header div#titulo_principal h1 {
    font-size: 3.6em;
  }
  header#header div#titulo_principal h2 {
    border-top: 1px solid #c6cfd3;
    font-size: 1.2em;
    line-height: 25px;
    margin-top: 5px;
  }
  header#header nav#menu {
    border: 2px solid orange;
    margin: 25px 7px 25px 7px ;
  }
  header#header figure#logo {
    text-align: center;
  }
  header#header figure#logo img {
    width: 120px;
    height: auto;
    margin: 20px auto 10px auto;
  }
  section#contenido {
    float: left;
    max-width: 1000px;
    margin-left: 335px;
    display: inline-block;
  }
  section#contenido article {
    border: 2px solid brown;
    background: white;
    border-radius: 7px;
    border: 1px solid #c6cfd3;
    margin: 15px;
    padding: 20px;
  }
  section#contenido article header.titulo {
    border: 2px solid blue;
  }
  section#contenido article div.contenido {
    border: 2px solid pink;
  }
  section#contenido article footer.social {
    border: 2px solid orange;
  }
  footer#footer {
    display: inline-block;
    height: 200px;
    margin-left: 335px;
    max-width: 1000px;
    width: 100%;
    position: relative;
  }
  footer#footer #avatar {
    width: 33%;
  }
  footer#footer #avatar figure img {
    border-radius: 70px;
    border: 3px solid #6f8194;
    height: auto;
    width: 70px;
    position: absolute;
    top: 60px;
    left: 270px;
  }
  footer#footer #avatar p#nombre {
    color: #6f8194;
    font-size: 1.2em;
    font-weight: bold;
    position: absolute;
    top: 70px;
    left: 370px;
  }
  footer#footer #avatar p#twitter {
    color: #6f8194;
    font-size: 1.2em;
    position: absolute;
    top: 90px;
    left: 370px;
  }
  footer#footer #logo_giratorio {
    position: absolute;
    top: 60px;
    left: 270px;
  }
  footer#footer #emial {
    width: 33%;
    position: absolute;
    top: 60px;
    left: 70px;
  }
  footer#footer #emial .icon-mail {
    background: #0d65f0;
    border-radius: 40px;
    height: 70px;
    width: 70px;
    color: #edf1f3;
    text-align: center;
    line-height: 1.85;
    font-size: 2.3em;
  }
  footer#footer #emial .icon-mail:before {
    content: "\e602";
    font-family: 'icomoon';
  }
  footer#footer #emial .icon-mail:hover {
    background: rgba(0, 0, 0, 0.7);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  footer#footer #github {
    width: 33%;
    position: absolute;
    top: 60px;
    left: 170px;
  }
  footer#footer #github .icon-github {
    background: #6f8194;
    border-radius: 40px;
    height: 70px;
    width: 70px;
    color: #edf1f3;
    text-align: center;
    line-height: 1.75;
    font-size: 2.5em;
  }
  footer#footer #github .icon-github:before {
    content: "\e601";
    font-family: 'icomoon';
  }
  footer#footer #github .icon-github:hover {
    background: rgba(0, 0, 0, 0.7);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
}
@media screen and (max-width: 992px) {
  
}
@media screen and (max-width: 480px) {
  
}
