/* Reset CSS */
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
a {
  text-decoration: none;
}
/* Layout */
body {
  background: #edf1f3;
  color: #6f8194;
  font-family: 'pt sans', sans-serif;
  font-size: 16px;
  line-height: 1.9;
}
#contenedor {
  margin: 0 auto;
  max-width: 1130px;
}
#home {
  background: white;
  border-radius: 4px;
  display: block;
  float: left;
  width: 825px;
}
.row .col-md-4 #menu ul li {
  color: #585858;
}
.row .col-md-4 #menu li#titulo {
  color: #909cac;
  font-weight: bold;
  margin: 12px 0 0 0;
}
.row .col-md-4 #menu li#titulo li {
  font-weight: normal;
  margin: 0 0 0 30px;
}
::selection {
  background: orange;
  color: white;
}
@media screen and (min-width: 992px) {
  #contenedor {
    margin: 0 auto;
    max-width: 1130px;
  }
  #home {
    background: white;
    border-radius: 4px;
    display: block;
    float: left;
    width: 825px;
  }
  .row .col-md-4 #menu ul li {
    color: #585858;
  }
  .row .col-md-4 #menu li#titulo {
    color: #909cac;
    font-weight: bold;
    margin: 12px 0 0 0;
  }
  .row .col-md-4 #menu li#titulo li {
    font-weight: normal;
    margin: 0 0 0 30px;
  }
}
@media screen and (max-width: 992px) {
  header {
    text-align: center;
    padding: 10px 0;
  }
  #header h1 {
    font-family: helvetica;
    font-size: 4.3em;
    letter-spacing: -3px;
    line-height: .8;
  }
  #header h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2em;
    letter-spacing: -2px;
  }
  #logo img {
    width: 60px;
    height: 60px;
    padding: 5px 0 0 7px;
  }
}
