/* Reset CSS */
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
a {
  text-decoration: none;
}
/* Layout */
body {
  background: #edf1f3;
  color: #6f8194;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.9;
}
#logo h1,
h2 {
  font-family: 'lobster', cursive;
}
::selection {
  background: orange;
  color: white;
}
@media screen and (min-width: 992px) {
  figure#logo {
    text-align: center;
    margin: 0 0 30px 0;
    position: relative;
    top: -7px;
  }
  figure#logo h1 {
    font-size: 3.6em;
  }
  figure#logo h2 {
    border-top: 1px solid #c6cfd3;
    font-size: 1.2em;
    line-height: 25px;
    margin-top: 5px;
  }
  figure#logo img {
    margin: 20px auto 15px auto;
    height: auto;
    display: block;
    padding: 10px 0 3px 0;
    width: 120px;
  }
  header {
    max-width: 400px;
    padding: 10px 30px 0 30px;
    width: 25%;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
  }
  header nav ul {
    overflow-y: scroll;
    height: 58%;
    position: absolute;
    left: 15px;
    right: 15px;
  }
  header nav ul li {
    border-bottom: 1px solid #c6cfd3;
    line-height: 1.1;
    padding: 13px 0 13px 10px;
  }
  header nav ul li:hover {
    background: rgba(0, 0, 0, 0.03);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  header nav ul li#titulo {
    background: #909cac;
    color: #edf1f3;
  }
  header nav ul li#titulo:hover {
    background: #909cac;
    color: #edf1f3;
  }
  header nav ul li a {
    color: #6f8194;
    font-size: .95em;
    font-weight: normal;
  }
  header nav ul li a:hover {
    text-decoration: none;
  }
  section#home {
    float: left;
    max-width: 1000px;
    margin-left: 25%;
    width: 75%;
  }
  section#home article {
    background: white;
    border-radius: 7px;
    border: 1px solid #c6cfd3;
    margin: 20px 10px 35px 0;
    padding: 0 30px 30px 30px;
  }
  section#home article h1 {
    color: #6a747e;
    font-family: 'Quicksand', cursive;
    font-size: 2.5em;
    letter-spacing: -4px;
    text-align: center;
    padding: 52px 0 25px 0;
  }
  section#home article h2 {
    border-bottom: 1px solid #c6cfd3;
    color: #535c64;
    font-family: 'Raleway', sans-serif;
    font-size: 1.4em;
    margin-bottom: 5px;
    padding: 30px 0 10px 0;
  }
  section#home article h2 span {
    color: rgba(0, 0, 0, 0.75);
    font-weight: bold;
  }
  section#home article p {
    color: #6f8194;
    font-size: .9em;
    margin-bottom: 15px;
    line-height: 1.6;
  }
  section#home article ul {
    padding: 10px 0 20px 20px;
    line-height: 2.2em;
    font-size: .9em;
  }
  section#home article ul li {
    list-style-type: circle;
  }
  figure .terminal {
    background: rgba(0, 0, 0, 0.65);
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0px 1px 1px rgba(111, 129, 148, 0.5);
    margin: 20px 35px 70px 35px;
    position: relative;
  }
  figure .terminal #maquina pre {
    color: #66bb67;
    line-height: 1.5;
    padding: 35px 15px 0 20px;
  }
  figure .terminal #maquina pre .tipear {
    color: #3efc30;
  }
  figure .terminal #maquina pre .copiar {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 0 5px;
    color: #66bb67;
  }
  figure .terminal .barra {
    background: lightgrey;
    border-radius: 6px 6px 0 0;
    position: absolute;
    width: 100%;
    top: -10px;
  }
  figure .terminal .barra #barra {
    color: grey;
    font-size: .8em;
    line-height: 2;
    text-align: center;
  }
  figure .terminal .nota {
    position: relative;
    bottom: -55px;
    color: grey;
    left: 20px;
    font-size: .9em;
  }
  figure .terminal .nota .color_tipear {
    display: inline-block;
    width: 30%;
  }
  figure .terminal .nota .color_tipear span {
    background: rgba(0, 0, 0, 0.65);
    border-radius: 15px;
    color: #3efc30;
    height: 20px;
    margin-right: 5px;
    padding: 5px 10px 5px 10px;
    width: auto;
  }
  figure .terminal .nota .color_maquina {
    display: inline-block;
    width: 30%;
  }
  figure .terminal .nota .color_maquina span {
    background: rgba(0, 0, 0, 0.65);
    border-radius: 15px;
    color: #66bb67;
    height: 20px;
    margin-right: 5px;
    padding: 5px 10px 5px 10px;
    width: auto;
  }
  figure .terminal .nota .color_copiar {
    display: inline-block;
    width: 30%;
  }
  figure .terminal .nota .color_copiar span {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    color: #66bb67;
    height: 20px;
    margin-right: 5px;
    padding: 5px 10px 5px 10px;
    width: auto;
  }
  .boton_google {
    display: inline-block;
    position: absolute;
    left: 5%;
    top: 35%;
  }
  .boton_twitter {
    display: inline-block;
    position: absolute;
    left: 20%;
    top: 35%;
  }
  .comentario {
    margin: 15px 0 0 0;
  }
  .nota_terminal {
    margin: -25px 0 30px 60px;
    font-size: .95em;
  }
  .social {
    background: rgba(237, 241, 243, 0.5);
    border-top: 1px solid #c6cfd3;
    margin-top: 40px;
    padding: 35px;
    position: relative;
  }
}
@media screen and (max-width: 992px) {
  figure#logo {
    text-align: center;
  }
  figure#logo h1 {
    font-size: 3em;
  }
  figure#logo img {
    display: block;
    margin: 10px auto 0 auto;
    height: auto;
    padding: 10px 0 3px 0;
    width: 80px;
  }
  figure .terminal {
    background: rgba(0, 0, 0, 0.65);
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0px 1px 1px rgba(111, 129, 148, 0.5);
    margin: 20px 35px 70px 35px;
    position: relative;
  }
  figure .terminal #maquina pre {
    color: #66bb67;
    line-height: 1.5;
    padding: 35px 15px 0 20px;
  }
  figure .terminal #maquina pre .tipear {
    color: #3efc30;
  }
  figure .terminal #maquina pre .copiar {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 0 5px;
    color: #66bb67;
  }
  figure .terminal .barra {
    background: lightgrey;
    border-radius: 6px 6px 0 0;
    position: absolute;
    width: 100%;
    top: -10px;
  }
  figure .terminal .barra #barra {
    color: grey;
    font-size: .8em;
    line-height: 2;
    text-align: center;
  }
  figure .terminal .nota {
    position: relative;
    bottom: -55px;
    color: grey;
    left: 20px;
    font-size: .9em;
  }
  figure .terminal .nota .color_tipear {
    display: inline-block;
    width: 30%;
  }
  figure .terminal .nota .color_tipear span {
    background: rgba(0, 0, 0, 0.65);
    border-radius: 15px;
    color: #3efc30;
    height: 20px;
    margin-right: 5px;
    padding: 5px 10px 5px 10px;
    width: auto;
  }
  figure .terminal .nota .color_maquina {
    display: inline-block;
    width: 30%;
  }
  figure .terminal .nota .color_maquina span {
    background: rgba(0, 0, 0, 0.65);
    border-radius: 15px;
    color: #66bb67;
    height: 20px;
    margin-right: 5px;
    padding: 5px 10px 5px 10px;
    width: auto;
  }
  figure .terminal .nota .color_copiar {
    display: inline-block;
    width: 30%;
  }
  figure .terminal .nota .color_copiar span {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    color: #66bb67;
    height: 20px;
    margin-right: 5px;
    padding: 5px 10px 5px 10px;
    width: auto;
  }
  nav.menu {
    padding: 20px 0 0 0;
    overflow: hidden;
    z-index: 5;
  }
  section#home article {
    background: white;
    border-bottom: 5px solid #6f8194;
    padding: 0 20px 10px 20px;
  }
  section#home article h1 {
    color: #6a747e;
    font-family: 'Quicksand', cursive;
    font-size: 2.5em;
    letter-spacing: -4px;
    text-align: center;
    padding: 52px 0 25px 0;
  }
  section#home article h2 {
    border-bottom: 1px solid #c6cfd3;
    color: #535c64;
    font-family: 'Raleway', sans-serif;
    font-size: 1.4em;
    margin-bottom: 5px;
    padding: 30px 0 10px 0;
  }
  section#home article h2 span {
    color: rgba(0, 0, 0, 0.75);
    font-weight: bold;
  }
  section#home article p {
    color: #6f8194;
    font-size: .9em;
    margin-bottom: 15px;
    line-height: 1.6;
  }
  section#home article ul {
    padding: 10px 0 20px 20px;
    line-height: 2.2em;
    font-size: .9em;
  }
  section#home article ul li {
    list-style-type: circle;
  }
  #mm0 {
    background: #6f8194;
    border: 1px solid #6f8194;
    color: #edf1f3;
    font-size: 18px;
    height: 38px;
    left: -4px;
    opacity: .95;
    position: relative;
    width: 107%;
  }
  .boton_google {
    display: inline-block;
    position: absolute;
    left: 5%;
    top: 35%;
  }
  .boton_twitter {
    display: inline-block;
    position: absolute;
    left: 20%;
    top: 35%;
  }
  .comentario {
    margin: 15px 0 0 0;
  }
  .fixed {
    position: fixed;
    top: -20px;
    left: 0px;
    width: 109%;
  }
  .social {
    background: rgba(237, 241, 243, 0.5);
    border-top: 1px solid #c6cfd3;
    margin-top: 30px;
    padding: 35px;
    position: relative;
  }
}
@media screen and (max-width: 480px) {
  figure .terminal {
    margin: 20px 10px 150px 10px;
  }
  figure .terminal .nota {
    bottom: -135px;
    left: 10px;
  }
  figure .terminal .nota .color_tipear {
    width: 100%;
  }
  figure .terminal .nota .color_maquina {
    width: 100%;
  }
  figure .terminal .nota .color_copiar {
    width: 100%;
  }
  section#home article {
    background: white;
    padding: 0 10px 10px 10px;
  }
  section#home article h1 {
    text-align: center;
    padding: 45px 0 10px 0;
  }
}
