/* Reset CSS */
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
a {
  text-decoration: none;
}
/* Layout */
body {
  background: #edf1f3;
  color: #6f8194;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.9;
}
#logo h1,
h2 {
  font-family: 'lobster', cursive;
}
::selection {
  background: orange;
  color: white;
}
@media screen and (min-width: 992px) {
  article {
    border-bottom: 1px solid #c6cfd3;
    padding: 0 0 40px 0;
  }
  article h1 {
    color: #6a747e;
    font-family: 'Quicksand', cursive;
    font-size: 2.5em;
    letter-spacing: -4px;
    text-align: center;
    padding: 50px 0;
  }
  article h2 {
    color: #535c64;
    font-family: 'Raleway', sans-serif;
    font-size: 1.4em;
    padding: 0 0 7px 0;
  }
  article p {
    color: #6f8194;
    font-size: 1em;
    padding: 0 0 0 10px;
  }
  article pre {
    background: rgba(0, 0, 0, 0.65);
    margin: 45px 45px 25px 45px;
    position: relative;
  }
  article pre span {
    color: #99bb67;
    position: absolute;
    top: 18px;
    left: 10px;
  }
  header {
    width: 25%;
    float: left;
  }
  section#contenedor {
    max-width: 1024px;
  }
  section#home {
    background: white;
    margin: 10px 10px 10px 25%;
    max-width: 800px;
    border-radius: 5px;
    border: 1px solid #c6cfd3;
    padding: 0 30px 30px 30px;
  }
  nav.menu {
    margin: 200px 0 0 25px;
    position: fixed;
  }
  nav.menu a {
    color: #585858;
    font-size: .9em;
  }
  nav.menu a {
    color: #585858;
    font-size: .9em;
  }
  #logo {
    text-align: center;
    position: fixed;
    margin: 0 0 0 25px;
  }
  #logo h1 {
    font-size: 3.6em;
  }
  #logo h2 {
    font-size: 1.2em;
    line-height: 25px;
  }
  #logo img {
    display: block;
    margin: 0 auto;
    height: auto;
    padding: 10px 0 3px 0;
    width: 80px;
  }
  .terminal {
    position: absolute;
    top: 2px;
    left: 45%;
    font-size: .9em;
  }
  .ventana_ternminal {
    background: lightgrey;
    border-radius: 4px 4px 0 0;
    height: 23px;
    left: 0px;
    position: absolute;
    top: -20px;
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  article {
    background: white;
    padding: 0 5px;
  }
  article h1 {
    color: #6a747e;
    font-family: 'Quicksand', cursive;
    font-size: 2.5em;
    letter-spacing: -4px;
    text-align: center;
    padding: 20px 0 20px 0;
  }
  article h2 {
    color: #535c64;
    font-family: 'Raleway', sans-serif;
    font-size: 1.4em;
    padding: 0 0 7px 0;
  }
  article p {
    color: #6f8194;
    font-size: 1em;
    padding: 0 0 0 10px;
  }
  article pre {
    background: rgba(0, 0, 0, 0.65);
    margin: 35px 0 10px 0;
    position: relative;
  }
  article pre span {
    color: #99bb67;
    position: absolute;
    top: 18px;
    left: 10px;
  }
  #logo {
    text-align: center;
  }
  #logo h1 {
    font-size: 3em;
  }
  #logo img {
    display: block;
    margin: 0 auto;
    height: auto;
    padding: 10px 0 3px 0;
    width: 60px;
  }
  #mm0 {
    background: #6f8194;
    border: 1px solid #6f8194;
    color: #edf1f3;
    font-size: 18px;
    height: 38px;
    left: -4px;
    opacity: .95;
    position: relative;
    width: 107%;
  }
  .fixed {
    position: fixed;
    top: -20px;
    left: 0px;
    width: 109%;
  }
  .menu {
    padding: 20px 0 0 0;
    overflow: hidden;
    z-index: 5;
  }
  .terminal {
    position: absolute;
    top: 2px;
    left: 45%;
    font-size: .9em;
  }
  .ventana_ternminal {
    background: lightgrey;
    border-radius: 4px 4px 0 0;
    height: 23px;
    left: 0px;
    position: absolute;
    top: -20px;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .terminal {
    position: absolute;
    top: 2px;
    left: 38%;
    font-size: .9em;
  }
}
